body {
    font-size: x-large;
    font-family: 'Roboto', sans-serif;
    color: white;
    background-color: #252629;
}
h1 {
    padding: 20px;
}
h2{
    padding: 20px;
}
img {
    height: 30vh;
}
a:link {
    color: darkgray;
}
a:visited {
    color: darkgray;
}
a:hover {
    color: lightgoldenrodyellow;
}
.myHead {
    height: 100vh;
    width: 100%;
    text-align: center;
    padding: 10px;
}
* {
    box-sizing: border-box;
}
.myRow {
    text-align: center;
    float: left;
    height: 100vh;
    width: 100%;
}
.projRow {
    height: 40%;
    width: 100%
    padding: 10px;
}
.thirdCol {
    text-align: center;
    float: left;
    width: 33.333%;
    padding: 10px;
}
.halfCol {
    text-align: center;
    float: left;
    width: 50%;
    padding: 10px;
}
.footer {
    text-align: center;
    float: left;
    height: 25%;
    width: 100%;
}
/* .leftCol {
    text-align: center;
    float: left;
    width: 50%;
    padding: 10px;
}
.rightCol {
    text-align: center;
    float: right;
    width: 50%;
    padding: 10px;
} */
